.hero-container {
    text-align: center;
    padding: 100px ;
    min-height: 100vh;
    margin-bottom: 0PX;
     background: linear-gradient(135deg, #868787 0%, #c3cfe2 100%);
}

h1 {
    color: #2c3e50;
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    color: #555;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
